// cores
$red : #C21010;
$light-red: #E64848;
$green : #CFE8A9;
$light-yellow: #FFFDE3;
$black: #0F0E0E;

//fonts
$title: 'Reem Kufi Fun', sans-serif;
$paragraph: 'Poppins', sans-serif;

//breakpoints
$lg: 1186px;
$md: 767px;
$mbl: 576px;
$sml: 390px;
