// cores
$red : #C21010;
$light-red: #E64848;
$green : #CFE8A9;
$light-yellow: #FFFDE3;
$yellow: #e9b035;
$black: #0F0E0E;

$primary: #F0A634;
$secondary: #DC8779;
$dark-primary: #444446;
$sub-primary: #B7C7BE;
$white: #fff;
//fonts
$title: 'Reem Kufi Fun', sans-serif;
$paragraph: 'Poppins', sans-serif;

//breakpoints
$lg: 1186px;
$md: 767px;
$mbl: 576px;
$sml: 390px;
