@import "../../assets/style/variables";

.lista {
  display: flex;
  margin: 50px 30px;
  height:auto;
  h2 {
    color: $red;
    font-family: 'Poppins', sans-serif;
  }
}

.lista_ultimas {
  padding: 1rem;
  width: 50%;
  height:auto;
  height: 38rem;
  display: flex;
  flex-direction: column;
}
.lista_ultimas_info{
  width: 100%;
  display: flex;
  a{
    max-width: 12rem;
  }

}
.lista_ultimas_info__tags{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  min-width: 10rem;
  padding-left: 1.5rem;
  p{
    width: 80%;
    padding: .2rem .1rem;
    background-color: #EBBB50;
    color: white;
    font-family: $paragraph;
    text-align: center;
    border-radius: 3rem;
    margin: 0 10% 0 0;
    font-weight: 600;
  }
}
.lista_ultimas_item_img{
  width: 100%;
  height: 8rem;
  margin-right: 1rem;
}
.lista_ultimas_item img {
  width: 100%;
  height: auto;
  margin-right: 1rem;
  border: 3px solid $light-yellow;
}
.lista_ultimas_item {
  padding: 1rem .5rem;
  margin: 1rem 0rem;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: $green;
  border-radius: 15px;

  &:hover {
    -webkit-box-shadow: 0px 0px 19px -4px rgba(61,60,66,1);
    -moz-box-shadow: 0px 0px 19px -4px rgba(61,60,66,1);
    box-shadow: 0px 0px 19px -4px rgba(61,60,66,1);
  }
}
.lista_ultimas_item a {
  text-decoration: none;
  color: $red;
  h3{
    font-family: 'Poppins', sans-serif;
  }
}

.lista_ultimas_item a:hover {
  color: $light-red;

}

.lista_ultimas_info {
  width: 100%;
  display: flex;
}

.lista_ultimas_info p {
  margin: 0rem 0.5rem;
  padding: 0.2rem 0rem;
  color: white;
  background-color: #EBBB50;
  width: 8rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.lista_acessadas {
  padding: 1rem;
  width: 50%;
  height: auto;
}


@media only screen and (max-width: 1186px){
  .lista{
    flex-direction: column;
  }
  .lista_ultimas{
    width: 100%;
    align-items: center;
    p{
      margin-bottom: 10px;
    }
  }
  .lista_acessadas{
    width: 100%;
    p{
      margin-bottom: 10px;
    }
  }
}
@media only screen and (max-width: 767px){
  .lista{
    margin: 0;
  }
  .lista_ultimas_item_img{
    display: flex;
    align-items: center;
    margin-right: 0;
  }
  .lista_ultimas_info{
    flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  .lista_ultimas{
    text-align: center;
  }
  .lista_acessadas_info{
    padding: .5rem;
    flex-direction: column;
    h3{
      font-size: 1.5rem;

    }
  }
  .lista_ultimas_info__tags{
    gap: 0;
  }
  .lista_acessadas{
    text-align: center;
  }
}
@media only screen and (max-width: 576px){
  .lista{
    height: 78rem;
    margin: 50px 0px;
    h3{
      font-size: 1.25rem;
    }
    .lista_ultimas{
      padding: 0;
    }
    .lista_ultimas_item_img{
      display: flex;
      align-items: center;
      margin-right: 0;
    }
    div {
      width: 100%;
      img {
        width: 20rem;
        margin-right: 0;
      }
    }
    h3{
      margin-top: 1rem;
    }
    .lista_ultimas_info__tags{
      margin-left: 0;
      gap: 0;
      align-items: center;
    }
    .lista_ultimas{
      height: 78rem;
      div{
        display: flex;
        flex-direction: column;
        height: auto;
      }
    }
  }
}
@media only screen and (max-width:390px){
  .lista{
    height: 105rem;
    :nth-child(2) {
      h2{
        margin-top: 4rem;
      }
    }
  }
  .lista_ultimas{
    height: 78rem;

  }
  .lista_ultimas_item{
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    height: auto;
  }
  div{
    img{
      width: 80%;
    }
  }
  .lista_ultimas_info{
    margin-top: 1rem;
  }
}
