@import "../../assets/style/variables";

.destaque{
  width:100%;
  height: auto;
  margin: 0px 0;
  span{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: gray;
  }
  h3{
    font-family: $title;
  }
  p{
    font-family: $paragraph;
  }
}
.destaque {
  width:auto;
  height:100%;
  img{
    width:auto;
    height:100%;
  }
}

