.destaque{
  width:100%;
  height: 40rem;
  margin: 0px 0;
  span{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: gray;
  }
  h3{
    font-family: 'Reem Kufi Fun', sans-serif;
  }
  p{
    font-family: 'Poppins', sans-serif;
  }
}
.destaque img{
  width:auto;
  height:35rem;
}
.carousel-caption{
  width: 100% !important;
  background-color: red !important;
}
