@import "../../assets/style/variables";

.CategoryContent {
  text-align: center;

  h1 {
    font-family: $title;
  }

  p {
    font-family: $paragraph;
    color: $red;
  }

  &_cards {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: $green;
    border-radius: 20px;
    margin: 2rem 0;
    padding: 1rem 0;

    h3 {
      color: inherit;
      text-decoration: none;
      font-family: $paragraph;
    }

    a {
      color: inherit;
      text-decoration: none;
      font-family: $paragraph;
    }
  }

  .CategoryContent_cards_img {
    width: 50%;

    img {
      width: 70%;
      border: 3px solid $light-yellow;
    }
  }

  .CategoryContent_cards_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 50%;
    max-width: 25rem;
    .card_summary{
      margin-bottom: 2rem;
    }
    .lista_ultimas_info__tags {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      p {
        background-color: $yellow;
        width: 15rem;
        border-radius: 2rem;
        padding: .2rem 0;
      }
    }
  }
}

@media only screen and (max-width: $md) {
  .CategoryContent_cards {
    flex-direction: column;

    img {
      margin-bottom: 1rem;
    }

    .CategoryContent_cards_info {
      width: 80%;
    }
  }

  .CategoryContent {
    .CategoryContent_cards_img {
      width: 100%;

      img {
        width: 90%;
      }
    }
  }


}
