@import "../../assets/style/variables";

.contact{
  width: 100%;
  background-color: $light-red;
  font-family: $paragraph;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  h2{
    margin-top: 4rem;
    font-family: $title;
    font-size: 2.5rem;
  }
  p{
    font-family: $paragraph;
    max-width: 40%;
    font-size: 22px;
    text-align: justify;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 1329px) {
  .contact{
    padding: 1rem 0;
    p{
      width: 100%;
      max-width: 80%;
    }
  }
}
