@import "../../assets/style/variables";

header {
  width: 100%;
  background-color: $light-yellow;
}

.header__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.menu__mbl{
  display: none;

}
.header__logo {
  font-size: 2rem;
  width: 35%;
  height: 5rem;
  img {
    height: 4rem;
    width: auto;
  }
}
.header__nav{
  width: 50%;
  display: flex;
  flex-direction: row;
  color: $red;
  ul{
    display: flex;
    margin: 0;
    padding: 0;
  }
  .menu_item_mbl{
    display: none;
  }
  li{
    list-style: none;
    margin-left: 1rem;
    a{
      text-decoration: none;
      color: inherit;
      font-size: 25px;
      font-family: $title;
      &:hover{
        text-decoration: none;
        color: $red;
        font-weight: bold;
      }
    }
  }
}
  @media only screen and (max-width: $md){
    .header__content{
      display: none;
    }
    .menu__mbl{
      display: flex;
      justify-content: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: auto;
      background-color: $yellow;
      button{
        background-color: $light-yellow;
        border: none;
      }
      img{
        height: 4rem;
      }
      .menu_mbl_itens{
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a{
          color: inherit;
          text-decoration: none;
          font-family: $title;
          color: white;
        }
      }
    }
}
@media only screen and (max-width: $sml){
  .menu__mbl{
    img{
      width: auto;
    }
  }
}
