@import "../../assets/style/variables";

footer {
  color: $black;
  .info{
    div{
      padding: 1rem 0;
      font-family: $paragraph;
      display: flex;
      text-align: center;
      justify-content: center;
      font-weight: 600;
    }
  }
}

