@import "../../assets/style/variables";

.notfound{
  background-color: $light-yellow;
  &__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    p{
      text-align: center;
    }
    a{
      color: inherit;
      text-decoration: none;
      font-family: $paragraph;
      margin-bottom: 2rem;
    }
  }

}
